/* html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
} */

.App {
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration-color: #fff;
  height: 100%;
}

#MusicWrapper {
  z-index: -1;
}

nav{
  z-index: 1
}


