#BookWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/bookBackground.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.book-list{
    height: 100%;
    width: 850px;
    margin-top: 10px;
    margin-bottom: 200px;
    background-color: transparent;
    z-index: 1;
    padding: 0;
    padding-bottom: 50px ;
}

.book-header{
    height: 30px;
    margin-top: 500px;
    z-index: 2;
    color: #fff;
    background-color: transparent;
}

.book-header p{
    background-color: transparent;
    font-size: 30px;
    font-weight: 500;
}

#book-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

@media screen and (max-width: 855px){
    .book-list{
        width: 90%;
    }
}

@media screen and (min-width: 1000px){
    #BookWrapper{
        background-position: bottom;
    }
}


