#BookWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/musicBackground.jpeg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

}

.book-list{
    height: 800px;
    width: 850px;
}

.book-header{
    height: 30px; ;
}



