#wrapper{
    /* position: absolute; */
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-items: flex-start;
    align-items: flex-start;
    align-self: center;
    margin: 0px;
    margin-left: 20%;
    margin-top: 100px;
}

.contact-header{
    height: 30px;
    color: #fff;
    margin: 40px 60px;
    font-size: 40px;
    font-weight: 100;
}

.contact-header p{
    animation: blink 3s infinite;
}

@keyframes blink {
    50%{
        color: #525252;
        font-weight: 100;
    }

    100%{
        opacity: #fff;
    }
}

.contact-box-list{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-box{
    height: 80px;
    width: 100%;
    margin: 0 63px;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-text{
    position: relative;
    align-self: flex-start;
    height: 30px;
}

.contact-text p{
    position: absolute;
    top: 0;
    left: 0;
    color: #007f2a;
    font-size: 25px;
    /* width: 10px;
    height: 100%; */
    margin: 0;
    padding: 0;
    align-self: flex-start;

}

.details-text{
   color: #fff; 
   align-self: flex-start;
   margin: 5px 0;
   padding: 0;
   top: 0;
   left: 0;
   width: 120px;
   height: 30px;
}

#social-list{
    display: flex;
    width: 100px;
    height: 40px;
    align-self: flex-start;
    gap: 1rem;
}

#social-list a{
    color: #fff;
    font-size: 1.5rem;
}

#social-list a svg{
    background-color: transparent;
}

#music-list{
    display: flex;
    width: 100%;
    height: 40px;
    align-self: flex-start;
    gap: 1.5rem;
}

#music-list a{
    color: #fff;
    font-size: 1.3rem;
}

#music-list a svg{
    background-color: transparent;
}

@media screen and (max-width: 700px){
    #wrapper{
        margin: 0;
        margin-top: 100px;
        
    }

    .contact-header{
        margin-left: 5px
    }

    .contact-box{
        margin-left: 10px;
    }
}







