nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F0D0D;
    padding: 20px 30px;
    height: 15%;
}

#navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-nav li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar-nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#navbar-nav .nav-item {
    height: 60%;
}

#navbar-nav .nav-item  a:hover{
    color: #2FEB00;
}

#navbar-nav .nav-item a.active{
    color: #2FEB00;
}

#navbar-nav .nav-item a.active::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #2FEB00;
    position: absolute;
    bottom: -5px;
    left: 20%;
    transition: 0.2s ease-in-out;
}

#navbar-nav li a:hover::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #2FEB00;
    position: absolute;
    bottom: -5px;
    left: 20%;

}

#menu{
    display: none;
}

#close{
    display: none;
}

#menu #bar{
    color: #fff;
    align-items: center;
}

@media screen and (max-width: 768px){
    #navbar-nav{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right:-100%;
        width: 100%;
        height: 100%;
        background-color: #0F0D0D;
        box-shadow: 0 40px 40px;
        transition: 0.3s ease-in-out;
    }

    #navbar-nav.active{
        right: 0px;
    }

    #navbar-nav .nav-item {
        height: 5%;
    }

    #navbar-nav li{
        margin-bottom: 30px;
    }

    #navbar-nav li a:hover::after{
        width: 0;
    
    }

    #navbar-nav .nav-item a.active::after{
        width: 0;
    }

    #menu{
        display: block;
        height: 100%;
        top: 1rem;
        right: 2rem;
    }

    #menu .menu-Icon{
        font-size: 25px;
        cursor: pointer;
        height: 100%;
        color: #fff;
    }

    #close{
        display: block;
        height: 2%;
        top: 0.1rem;
        right: 2rem;
    }

    #close .menu-Icon{
        font-size: 25px;
        cursor: pointer;
        height: 10%;
        color: #fff;
        position: absolute;
    }
}
  