#nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px 30px;
    height: 15%;
    padding-top: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
}


#logo{
    background-color: transparent;
    margin-top: 25px;
}

#logo h3{
    background-color: transparent;
    height: 20px;
    color: #fff;
}

#homeNav-nav{
    display: none;
}

#nav-list{
    margin-right: 50px;
    background-color: transparent;
}

#homeNav-list{
    display: none;
}

#navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#navbar-nav li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar-nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.2s ease-in-out;
    background-color: transparent;
}

#navbar-nav .nav-item {
    height: 30px;
    background-color: transparent;
}

#navbar-nav .nav-item  a:hover{
    color: #007f2a;
}

#navbar-nav .nav-item a.active{
    color: #007f2a;
}

/* #navbar-nav .nav-item a.active::after{
    content: "";
    width: 60%;
    height: 1px;
    background-color: #007f2a;
    position: absolute;
    bottom: -1px;
    left: 20%;
    transition: 0.6s ease-in-out;
}

#navbar-nav li a:hover::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #007f2a;
    position: absolute;
    bottom: -1px;
    left: 20%;

} */

#menu{
    display: none;
}

#close{
    display: none;
}

#menu #bar{
    color: #fff;
    align-items: center;
}

@media screen and (max-width: 768px){
    #navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right:-100%;
        width: 100%;
        height: 100%;
        background-color: black;
        transition: 0.3s ease-in-out;
        /* z-index: 2; */
    }

   #homeNav-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right:-100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 0.3s ease-in-out;
    z-index: 100;
    }

    #homeNav-nav a{
        text-decoration: none;
        font-size: 1.2rem;
        color: #fff;
        transition: 0.2s ease-in-out;
        background-color: transparent;
    }

    #homeNav-nav a:hover{
        color: #007f2a;
    }
    
    #homeNav-nav a.active{
        color: #007f2a;
    }

    #navbar-nav.active{
        right: 0px;
    }

    #homeNav-nav.active{
        right: 0px;
    }

    #navbar-nav .nav-item {
        height: 5%;
    }

    #homeNav-nav .nav-item {
        height: 5%;
    }

    #navbar-nav li{
        margin-bottom: 30px;
    }

    #homeNav-nav li{
        margin-bottom: 30px;
    }

    #navbar-nav li a:hover::after{
        width: 0;
    
    }

    #homeNav-nav li a:hover::after{
        width: 0;
        background-color: #007f2a;
    
    }

    #navbar-nav .nav-item a.active::after{
        width: 0;
    }

    #homeNav-nav .nav-item a.active::after{
        width: 0;
    }

    #menu{
        display: block;
        height: 100%;
        top: 1rem;
        right: 2rem;
        margin-right: 50px;
        background-color: transparent;
    }

    #menu .menu-Icon{
        font-size: 25px;
        cursor: pointer;
        height: 100%;
        color: #fff;
        background-color: transparent;
    }

    #close{
        display: block;
        height: 2%;
        top: 1rem;
        right: 2rem;
    }

    #close .menu-Icon{
        font-size: 25px;
        cursor: pointer;
        height: 10%;
        color: #fff;
        position: absolute;
        background-color: transparent;
    }

}
  