nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px 30px;
    height: 15%;
    padding-top: 0;
    margin: 0;
    z-index: 1;
}

.home-nav{
    display: none;
}

#logo{
    color: #fff;
    height: 150px;
    width: 150px;
    background-color: transparent;
}

#logo h2{
    height: 0;
}

#navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-nav li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar-nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#navbar-nav .nav-item {
    height: 30px;
}

#navbar-nav .nav-item  a:hover{
    color: #007f2a;
}

#navbar-nav .nav-item a.active{
    color: #007f2a;
}

#navbar-nav .nav-item a.active::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #007f2a;
    position: absolute;
    bottom: -1px;
    left: 20%;
    transition: 0.2s ease-in-out;
}

#navbar-nav li a:hover::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #007f2a;
    position: absolute;
    bottom: -1px;
    left: 20%;

}

#menu{
    display: none;
}

#close{
    display: none;
}

#menu #bar{
    color: #fff;
    align-items: center;
}

@media screen and (max-width: 768px){
    #navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right:-100%;
        width: 100%;
        height: 100%;
        background-color: black;
        transition: 0.3s ease-in-out;
        z-index: 2;
    }

    #navbar-nav.active{
        right: 0px;
    }

    #navbar-nav .nav-item {
        height: 5%;
    }

    #navbar-nav li{
        margin-bottom: 30px;
    }

    #navbar-nav li a:hover::after{
        width: 0;
    
    }

    #navbar-nav .nav-item a.active::after{
        width: 0;
    }

    #menu{
        display: block;
        height: 100%;
        top: 1rem;
        right: 2rem;
    }

    #menu .menu-Icon{
        font-size: 25px;
        cursor: pointer;
        height: 100%;
        color: #fff;
        background-color: transparent;

    }


    #close{
        display: block;
        height: 2%;
        top: 0.1rem;
        right: 2rem;
    }

    #close .menu-Icon{
        font-size: 25px;
        cursor: pointer;
        height: 10%;
        color: #fff;
        position: absolute;
        background-color: transparent;
    }

}
  